spring:
  application:
    name: f1-betting-service

  datasource:
    url: jdbc:h2:mem:f1bettingdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  # H2 Console (for development)
  h2.console.enabled: true
  h2.console.path: /h2-console
server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha
logging.level.root: INFO